.title{
    margin-top: 50px;
    text-align: center;
    text-decoration-line: underline;
}
.toyo{
    display: flex;
    margin-top: 25px;
}
.img-toyo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.written{
    margin-top: 15px;
    margin-left: 25px;
    font-weight: 100;
}
.mins{
    margin-top: 40px;
    margin-left: -190px;
    font-weight: 100;
}
main{
    line-height: 2.5;
}
.lets{
    margin-top: 15px;
}
.forex{
    padding-top: 12px;
    text-align: center;
}
.frex{
    margin-top: 40px;
    margin-bottom: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
.nation{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
.nation2{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 53%;
}
.start{
    padding-top: 12px;
    text-align: center;
}
.smile{
    margin-top: 40px;
    margin-bottom: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
.outside{
    margin-top: 40px;
    border: 0px solid;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}
.entry{
    padding-top: 10px;
    margin-left: 12px;
}
.equiti{
    text-align: center;
    font-style: italic;
}
.benefits{
    margin-top: 40px;
    margin-bottom:23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
.robots{
    text-align: center;
}
.robots3{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;   
}

.guide{
    text-align: center;
}
.reviews{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
.real{
    text-align: center;
    font-weight: bold;
}
.ref{
    text-align: center;
    width: 15em;
    height: 5em;
    margin-bottom: 25px;
    border: 1px solid orange;
    background-color: orangered;
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    padding-top: 20px;
    font-size: 20px;
}
a:hover{
    color: green;
    text-decoration: none;
}
@media only screen and(max-width: 768px){
   div .container{
        width: 70%;
    }
    input{
        width: 2px;
    }
}